/.DS_Store
/.ipynb_checkpoints
/.pytest_cache
/.Rhistory
/.virtual_documents
/Cover_letter.docx
/Dataset1_betas.loom
/Dataset1_betas_raw.loom
/Dataset1_full.loom
/Dataset1_Pseudo_betas.loom
/Dataset2_betas.loom
/Dataset2_full.loom
/Figure1
/Figure2
/Figure3
/figures
/GSE153855_Cell_annotation.txt
/GSE153855_Expression_counts_HQ_allsamples.txt
/GSE153855_Expression_RPKM_HQ_allsamples.txt
/GSE214517_rpkms.txt
/GSE214517_rpkms.txt.gz
/Integrated_betas.loom
/Integrated_full.loom
/Integrated_logFC.csv
/manuscript.docx
/manuscript.md
/manuscript.pdf
/matters_arising_dgcna_t2d.md
/matters_format.md
/methods_notes.md
/old
/original_paper
/Pubpeer post.docx
/sel_genes.xlsx.sb-11a3e435-QEXZwV
/Suple
/supplementary_methods.docx
/supplementary_methods.md
/Supp_Verify_Implementation.ipynb
/__pycache__
/~$sel_genes.xlsx